/* Global ========================== */
:root {
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
  --havy-magenta: #fd52c2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: url(./images/bg-desktop.svg) fixed no-repeat var(--violet);
  background-size: contain;
  color: white;
  padding: 3.125rem 3.125rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body,
button {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 80rem;
  width: 100%;
}

/* Main ========================== */
main {
  padding-top: 5.5rem;
  display: flex;
  gap: 3.625rem;
}

main img {
  width: 100%;
}

.title {
  margin-top: 3.125rem;
  font-family: 'Poppins', sans-serif;
  font-size: 2.25rem;
  padding-right: 2rem;
}

.description {
  margin-top: 2.25rem;
  padding-right: 3rem;
}

main button {
  margin-top: 1.625rem;
  width: 12.5rem;
  height: 3.5rem;
  border-radius: 1.75rem;
  border: none;
  color: var(--violet);
  font-size: 1.125rem;
  box-shadow: 0.25rem 0.5rem 0.75rem rgba(0, 0, 0, .2);
  transition: all .2s;
}

main button:hover {
  cursor: pointer;
  color: white;
  background-color: var(--soft-magenta);
}

/* Footer ========================== */
footer {
  height: 6.25rem;
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
}

.social {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.social i {
  width: 2.625rem;
  height: 2.625rem;
  text-align: center;
  line-height: 2.625rem;
  border: 1px solid white;
  border-radius: 50%;
  color: white;
  transition: all .2s;
}

.social i:hover {
  color: var(--havy-magenta);
  border-color: var(--havy-magenta);
}

@media only screen and (max-width: 68.75rem) {
  body {
    background: url(./images/bg-mobile.svg) fixed no-repeat var(--violet);
    background-size: contain;
    padding: 2.5rem 2.5rem 0;
  }

  .logo {
    width: 120px;
  }

  main {
    flex-direction: column;
    padding-top: 4rem;
    margin-bottom: 2rem;
  }

  .content {
    text-align: center;
  }

  .title {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
  }

  .description {
    margin-top: 1rem;
    font-size: 0.9rem;
    padding: 0;
  }

  main button {
    height: 2.875rem;
  }

  footer {
    justify-content: center;
  }

  .social i {
    width: 2.2rem;
    height: 2.2rem;
    line-height: 2.2rem;
    font-size: 0.9rem;
  }
}